{% extends "base.html" %}
{% block content %}
<header class="bg-dark py-1">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-7 fw-bolder">درباره ما</h1>
            
        </div>
    </div>
</header>
<br><br>
<div class="container">
    <div class="row">
        <center>
            <div class="col-10">
                <p align="justify">
                 سلام به فروشگاه ما خوش آمدید 
                 <br>
            فروشگاه ما شامل  لوازم الکتریکی و تجهیزات حفاظتی و امنیتی دوربین های مدار بسته و دزدگیر می باشد که در حال حاضر فقط  لوازم الکتریکی را روی این سایت قرار دادیم.<br> 
                به دلیل نوسانات بالای قیمت ها بعضی محصولات قیمت گذاری نشده اند. لطفا جهت استعلام قیمت با ما تماس بگیرید. با تشکر<br>
                ابراهیمی
                 <br>09194914548
                <br>09907727199
                </p>
            </div>
        </center>
    </div>
</div>

{% endblock %}