{% extends "base.html" %}
{% block content %}
<header class="bg-dark py-1">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-7 fw-bolder">دسته بندی محصولات</h1>
            
        </div>
    </div>
</header>
<br><br>
<div class="container">
    <div class="row">
        <center>
            <div class="col-10">
                <p align="justify">
                    {% for cat in category %}
                    <a href="{% url 'category' cat.name %}"> <h3>{{ cat.name }}</h3></a>

                {% endfor %}
                    
                </p>
            </div>
        </center>
    </div>
</div>

{% endblock %}