{% extends "base.html" %}
{% block content %}

<br><br>
<div class="container">
    <div class="row">
        <center>
            <div class="col-10">
              
                {% if other %}
                <h3>سفارشات جاری</h3>
                <br>
                <table class="table">
                    <thead class="table-dark">
                      <tr>
                        <th scope="col">شماره سفارش</th>
                        <th scope="col">به نام</th>
                        <th scope="col">تاریخ ثبت سفارش</th>
                        <th scope="col">وضعیت</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for order in other %}
                      <tr>
                        <th scope="row">{{order.id}}</th>
                        <td>{{order.full_name}}</td>
                        <td>{{order.date_ordered}}</td>
                        <td>{{order.get_status_display}}</td>
                      </tr>
                      {% endfor %}
                      </tbody>
                      </table>
                      {% else %}
                      سفارشی وجود ندارد
                      {% endif %}
                     
            
            </div>
        </center>
    </div>
</div>

{% endblock %}