{% extends "base.html" %}
{% block content %}

<br><br>
<div class="container">
    <div class="row">
        <center>
            <div class="col-10">
              <h3>جزئیات سفارش</h3>


            <div class="card">
                <div class="card-header">
                  سفارش{{ order.id }} - {{ order.amount_paid }}تومان
                </div>
                <div class="card-body">
                    به نام:{{ order.full_name }}<br>
                    ایمیل:{{ order.email }}<br>
                    آدرس:{{  order.shipping_address }}<br>
                    تاریخ ثبت:{{ order.date_ordered|date:"Y-m_d H:i:s" }}<br>
                    آخرین ویرایش:{{ order.last_update|date:"Y-m_d H:i:s" }}<br>
                    وضعیت:{{ order.get_status_display }}<br>
                    <hr>
                    کالاها:<br>
                    {% for item in items %}
                      {{ item.product }} | تعداد {{item.quantity}}عدد | {{ item.price }} تومان <br>
                    {% endfor %}
                </div>
              </div>
              <br>
              <a href="{% url 'orders' %}" class="btn btn-primary">بازگشت به سفارشات</a>
            </div>
        </center>
    </div>
</div>

{% endblock %}