{% extends "base.html" %}
{% block content %}

<br><br><br>
<div class="container">
    <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{{ product.picture.url }}" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"> {{ product.name }}</h5>
              <br>
              {% if product.is_sale %}
              <p class="card-text"> قیمت :{{ product.sale_price }} ریال</p>
              {% else %}
              {% if product.price == 0 %}
              <a href="{% url 'about' %}" class='btn btn-secondary'> لطفا برای استعلام قیمت تماس بگیرید  </a>
              {% else %}
              <p class="card-text"> قیمت :{{ product.price }}ریال </p>
              {% endif %}
              
              {% endif %}
              <br>
              

              <p class="card-text"> توضیحات :{{ product.description }} </p>
              تعداد :
              <select class="form-select" id='cart-qty'>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
              </select>
              <br><br><br>
              <button class='btn btn-secondary' type='button' value='{{ product.id }}' id='add-cart'>اضافه کردن به سبد خرید</button>
              <a href="{% url 'home' %}" class='btn btn-secondary'>بازگشت به صفحه اصلی</a>
            </div>
          </div>
        </div>
      </div>
</div>
<br><br><br><br>
<script>
$(document).on('click', '#add-cart', function(e){
  e.preventDefault();
  $.ajax({
    type: 'POST',
    url: '{% url "cart_add" %}',
    data:{
      product_id: $('#add-cart').val(),
      product_qty: $('#cart-qty option:selected').text(),
      csrfmiddlewaretoken:'{{ csrf_token }}',
      action:'post'
    },

    success: function(json){
      //console.log(json)
      document.getElementById('cart_quantity').textContent = json.qty
      location.reload();
    },

    error: function(xhr , errmsg, err){
    }
  })
})  
</script>
{% endblock %}